<div class="page-header">
  <h1><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h1>
</div>

<%= bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>

  <%= devise_error_messages! %>

  <%= f.email_field :email, :class => 'text_field' %>

  <div class="form-actions">
    <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), :class => 'btn btn-primary' %>
    <%= render "devise/shared/links" %>
  </div>

<% end %>
