<div class="page-header">
  <h1><%= t('.resend_confirmation_instructions', default: 'Resend confirmation instructions') %></h1>
</div>

<%= custom_bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <%= f.email_field :email,
                    placeholder: User.human_attribute_name(:email),
                    class: 'text_field',
                    hide_label: true %>

  <div class="form-actions">
    <%= f.submit t('helpers.links.send'), class: 'btn btn-primary' %><br />
    <%= render "devise/shared/links" %>
  </div>

<% end %>
