<div class="page-header">
  <h1><%=t 'devise.basic.sign_up' %></h1>
</div>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <div class="form-actions">
    <%= f.submit t('devise.basic.sign_up'), class: 'btn btn-primary' %>
    <%= render 'devise/shared/links' %>
  </div>

<% end %>
