<p>Der unbestätigte Nutzer <%= @item.user.name %> hat das <%= @item.class.model_name.human %> <%= link_to @item.title, polymorphic_url(@item) %> angelegt.
Bitte überprüfe das <%= @item.class.model_name.human %> und schalte den Nutzer gegebenenfalls im Adminpanel frei.</p>
rake te
<p><span style="font-weight: bold">Text des <%= @item.class.model_name.human %>s:</span></p>
<p><%= @item.description %></p>