<fieldset class="item">
  <% if current_user == item.user %>
      <legend class="label label-info"><%= t "helpers.mine"  %></legend>
  <% else %>
      <legend class="label label-info"><%= item.user.name %></legend>
  <% end %>

  <div class="titel">
    <strong><%= item.title %></strong>
  </div>

  <div class="description">
    <div class="short"></div>
    <div class="long"><%= simple_format item.description %></div>
  </div>

  <div class="public_until">
    <%= item.class.human_attribute_name(:public_until) + " " + (l item.public_until) %>
  </div>

  <div class="contact">
    <div class="inline-button toggle-collapse">
      <div class="short"><%= t 'helpers.more' %>&#x25BC;</div>
      <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
    </div>

    <div class="inline-button answer" data-link="<%= polymorphic_path item %>">
      <%= t "helpers.#{current_user == item.user ? 'show' : 'answer'}" %>
    </div>
  </div>
</fieldset>
