<p>Hi <%= @item.owner_name %>,</p>

<p>
  Welcome to Kaheim!
</p>
<p>
  You've just created the <%= @item.class.model_name.human %> with the title <i><%= @item.title %></i>.
  It is not yet public but you can activate it by clicking on this
  <%= link_to 'link', polymorphic_url(@item, action: :owner_show, token: @item.owner_show_token) %>.
</p>
<p>
  You need also need this link to edit your <%= @item.class.model_name.human %> in the future
  and to read replies to it.
  Therefore, do not delete this email until you do not need your <%= @item.class.model_name.human %> anymore.
</p>
<p>
  Team of Kaheim
</p>
