<p>Hallo <%= @item.owner_name %>,</p>

<p>
  herzlich willkommen auf Kaheim!
</p>
<p>
  Soeben hast du auf ein <%= @item.class.model_name.human %> mit dem Titel <i><%= @item.title %></i> angelegt.
  Bisher ist es noch nicht öffentlich, aber du kannst es mit einem Klick auf diesen
  <%= link_to 'Link', polymorphic_url(@item, action: :owner_show, token: @item.owner_show_token) %>  aktivieren.
</p>
<p>
  Diesen Link brauchst du auch, um dein <%= @item.class.model_name.human %> in Zukunft zu bearbeiten oder Antworten darauf einzusehen.
</p>
<p>
  Dein Kaheim-Team
</p>