<h1><%= image_tag 'banner-faecher-inverted.svg', alt: 'Kaheim' %></h1>
<p data-no-turbolink>
  <%= link_to 'About Kaheim', '#', class: 'js-content-change', data: { show: 'about' } %>
  <%= link_to 'Alternatives', '#', class: 'js-content-change', data: { show: 'alternatives' } %>
</p>
<div class="js-content-container">
  <p>
    Welcome to Kaheim.
  </p>
</div>
<div class="js-content" data-content-id="about">
  <p>
    Kaheim entstand im Sommer 2014 als Projekt mehrerer christlicher Gruppen in Karlsruhe mit dem Ziel,
    gruppeninterne Zimmerbörsen, die weitgehend manuell verwaltet wurden, abzulösen und eine gemeinsame Plattform zu schaffen.
    Als solche soll sie jungen Erwachsenen die Möglichkeit bieten, freie Zimmer in WGs zu finden oder sich zu vernetzen, um zusammen
    neue WGs zu eröffnen.
  </p>
</div>
<div class="js-content" data-content-id="alternatives">
  <p>
    Da in Karlsruhe das Wohnungsangebot zum Semesteranfang knapp ist oder Du vielleicht gar nicht unbedingt in eine WG willst,
    hier noch ein paar Alternativen zum Weitersuchen:
  </p>
  <p>
    Es gibt einige Wohnheime in Karlsruhe. Zum einen Wohnheime kirchlicher Träger
    (<%= link_to 'HEK', 'https://www.hek.uni-karlsruhe.de/' %>,
    <%= link_to 'ABH/RSH', 'https://www.abh.uni-karlsruhe.de/site/' %>,
    <%= link_to 'Evangelisches Studentinnenwohnheim', 'http://www.ev-studentinnenwohnheim.de/' %>),
    zum anderen auch das <%= link_to 'HaDiKo', 'http://www.hadiko.de/'%> und einige Wohnheime des <%= link_to 'Studierendenwerks', 'https://www.sw-ka.de/de/wohnen/' %>.
  </p>
  <p>
    Vielleicht hast Du auch Interesse an einer 'Wohnpartnerschaft'. Dann lohnt sich ein Besuch der
    <%= link_to 'PARITÄTischen Wohnpartnerbörse', 'http://www.paritaet-ka.de/frames/dienste-weitere-/wohnen.htm' %>.
  </p>
</div>