<div class="page-header">
  <h1 class="subscription-form-toggle" style="display: none;">
    <!-- form for subscribing. see button below for how to access it -->
    <%= render partial: 'subscription/form', locals: { item_type: :offers } %>
  </h1>
  <h1 class="subscription-form-toggle">
    <!-- button to subscribe. switches headline to subscribe form if user is not logged in -->
    <%= render partial: 'subscription/button', locals: { item_type: :offers } %>
    <%=t 'offers.list.title', count: @offers.count %>
    <div class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%=t 'helpers.sort' %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" data-no-turbolink>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-from-date" data-sort-order="asc"><%=t 'helpers.sort_by_from_date' %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-rent" data-sort-order="asc"><%=t 'helpers.sort_by_rent' %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-size" data-sort-order="asc"><%=t 'helpers.sort_by_size' %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-updated-at" data-sort-order="desc"><%=t 'helpers.sort_by_updated_at' %></a></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <%= link_to t('offers.new.title'), new_offer_path, class: 'btn btn-default pull-right' %>
    <% end %>
  </h1>
  <% unless user_signed_in? %>
    <strong><%= It.it('helpers.sign_in_for_offer', sign_up_link: new_user_registration_path, sign_in_link: new_user_session_path) %></strong>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 sort">
    <%= render partial: 'offers/list', locals: { offers: @offers } %>
  </div>
</div>