<% content_for :header_message do %>
  <div class="header-message center">
    <%= render 'welcome_message' %>
  </div>
<% end %>

<%= render partial: 'shared/list_page_header', locals: { count: @offers.count, item: 'offer'} %>
<% if @offers.count > 1 %>
  <div class="row">
    <div class="dropdown pull-right" id="sort-button">
      <%= render 'shared/sort_menu' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="sort">
    <%= render partial: 'offers/list', locals: { offers: @offers } %>
  </div>
</div>

<%= render partial: 'shared/list_page_header', locals: { count: @requests.count, item: 'request'} %>
<% if @requests.count > 1 %>
  <div class="row">
    <div class="dropdown pull-right" id="sort-button">
      <%= render 'shared/sort_menu' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="sort">
    <%= render partial: 'requests/list', locals: { requests: @requests } %>
  </div>
</div>