<div class="page-header">
  <h2><%=t 'helpers.answer' %></h2>
</div>

<%= bootstrap_form_for answer, layout: :horizontal do |f| %>
  <%= f.email_field :mail, value: user_signed_in? ? current_user.email : '' %>
  <%= f.text_area :message %>
  <% unless user_signed_in? %>
    <%= f.form_group label: { text: 'Captcha' } do %>
      <%= recaptcha_tags ajax: true %>
    <% end %>
    <% end %>
  <%= f.form_group do %>
    <%= f.primary t('helpers.links.send') %>
  <% end %>

  <%= f.hidden_field :item_type %>
  <%= f.hidden_field :item_id %>
<% end %>
