<%= custom_bootstrap_form_for @request, layout: :inline do |f| %>
    <div class="edit">
      <%= f.text_field :title,
                       input_group_wrapper_class: 'input-group-lg',
                       wrapper_class: 'title',
                       prepend: t('activerecord.attributes.request.title'),
                       hide_label: true %>

      <div class="info">
        <div class='form-control gender'>
          <%= f.radio_button :gender, 'female' %><span class="gender-label"><i class='fa fa-female'></i></span>
          <%= f.radio_button :gender, 'male' %><span class="gender-label"><i class='fa fa-male'></i></span>
        </div>
        <%= f.text_field :from_date,
                         'data-behaviour' => 'datepicker',
                         input_group_wrapper_class: 'input-group-sm',
                         prepend: t('activerecord.attributes.request.from_date'),
                         hide_label: true %>
        <%= f.text_field :to_date,
                         'data-behaviour' => 'datepicker',
                         input_group_wrapper_class: 'input-group-sm',
                         prepend: t('activerecord.attributes.request.to_date'),
                         hide_label: true %>
      </div>

      <%= f.text_area :description, wrapper_class: 'description', hide_label: true, placeholder: t('activerecord.attributes.request.description') %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('helpers.links.cancel', default: 'Cancel'), requests_path, class: 'btn btn-default' %>
    </div>
<% end %>