<%= bootstrap_form_for @request do |f| %>
    <div class="request">
      <div class="titel">
        <%= f.text_field :title, :class => 'text_field', hide_label: true, placeholder: t('activerecord.attributes.request.title') %>
      </div>
      <div class="from_date">
        <%= f.date_select :from_date, :class => 'date_select', hide_label: true %>
      </div>
      <div class="to_date">
        <%= f.date_select :to_date, :class => 'date_select', hide_label: true %>
      </div>
      <div class="gender">
        <%= f.form_group :gender do %>
            <%= f.radio_button :gender, 'dontcare', label: '<i class="fa fa-female"></i>/<i class="fa fa-male"></i>'.html_safe, checked: true %>
            <%= f.radio_button :gender, 'female', label: '<i class="fa fa-female"></i>'.html_safe %>
            <%= f.radio_button :gender, 'male', label: '<i class="fa fa-male"></i>'.html_safe %>
        <% end %>
      </div>
      <div class="description">
        <% if @request.description %>
            <%= f.text_area :description, :class => 'text_area', hide_label: true, placeholder: @request.description %>
        <% else %>
            <%= f.text_area :description, :class => 'text_area', hide_label: true, placeholder: t('activerecord.attributes.request.description') %>
        <% end %>
      </div>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('helpers.links.cancel', :default => 'Cancel'),
                    offers_path, :class => 'btn' %>
      </div>
    </div>
<% end %>