<% if requests.count == 0 %>
  <div>
    <%= t 'requests.list.none' %>
  </div>
<% end %>
<% requests.each do |request| %>
<fieldset class="item">
  <%= badges_for request %>

  <div class="title">
    <strong><%= link_to request.title, request %></strong>
  </div>

  <table class="request-specifics">
    <tbody>
    <tr>
      <td class="gender">
        <%= gender_icon request.gender %>
      </td>
      <td class="time">
        <%= from_date_info request %>
      </td>
      <% if request.to_date %>
        <td class="time">
          <%=t 'requests.show.to' %> <%=l request.to_date %>
        </td>
      <% end %>
    </tr>
    </tbody>
  </table>

  <div class="description">
    <div class="short transition"></div>
    <div class="long transition"><%= simple_format request.description %></div>
  </div>

  <div class="contact">
    <div class="inline-button toggle-collapse">
      <div class="short"><%= t 'helpers.more' %>&#x25BC;</div>
      <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
    </div>

    <div class="inline-button answer">
      <%= link_to request do %>
        <%= t("helpers.#{current_user == request.user ? 'show' : 'answer'}") %>
      <% end %>
    </div>
    <span>&nbsp;|&nbsp;<%= t("requests.show.user", name: request.user.name) %></span>
  </div>
</fieldset>
<% end %>