<%- model_class = Request -%>
<div class="page-header">
  <% if requests.count > 0 %>
      <h1><%=t '.title', :default => model_class.model_name.human(count: 2) %></h1>
  <% else %>
      <h1><%=t 'helpers.none_found', :subjects => model_class.model_name.human(count: 0) %></h1>
  <% end %>
  <% if user_signed_in? %>
      <%= link_to t('requests.new.title'), new_request_path, :class => 'btn btn-primary' %>
  <% else %>
      <strong><%= t 'helpers.sign_in_for_request' %></strong>
  <% end %>
</div>

<% requests.each do |request| %>
<fieldset class="item">
  <% if user_signed_in? %>
      <% if current_user == request.user %>
          <legend class="label label-danger"><%= t "helpers.mine"  %></legend>
      <% else %>
          <legend class="label label-info"><%= request.user.name  %></legend>
      <% end %>
  <% end %>

  <div class="titel">
    <strong><%= request.title %></strong>
  </div>

  <table class="request-specifics">
    <tbody>
    <tr>
      <td class="gender">
        <% case request.gender %>
        <% when 'dontcare' %>
            <i class="fa fa-female"></i>/<i class="fa fa-male"></i>
        <% when 'female' %>
            <i class="fa fa-female"></i>
        <% when 'male' %>
            <i class="fa fa-male"></i>
        <% end %>
      </td>
      <td class="time">
        sucht vom <%# (l request.until) + ' bis ' + (l request.until) %>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="description">
    <div class="short"></div>
    <div class="long"><%= simple_format request.description %></div>
  </div>

  <div class="contact">
    <div class="inline-button toggle-collapse">
      <div class="short"><%= t 'helpers.more' %>&#x25BC;</div>
      <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
    </div>

    <div class="inline-button answer" data-link="<%= polymorphic_path request %>">
      <%= t "helpers.#{current_user == request.user ? 'show' : 'answer'}" %>
    </div>
  </div>
</fieldset>
<% end %>