<div class="page-header">
  <h1 class="subscription-form-toggle" style="display: none;">
    <!-- form for subscribing. see button below for how to access it -->
    <%= render partial: 'subscription/form', locals: { item_type: :requests } %>
  </h1>
  <h1 class="subscription-form-toggle">
    <!-- button to subscribe. switches headline to subscribe form if user is not logged in -->
    <%= render partial: 'subscription/button', locals: { item_type: :requests } %>

    <%=t 'requests.list.title', count: @requests.count %>
    <% if user_signed_in? %>
      <%= link_to t('requests.new.title'), new_request_path, class: 'btn btn-default' %>
      </h1>
    <% else %>
      </h1>
      <strong><%= It.it('helpers.sign_in_for_request', sign_up_link: new_user_registration_path, sign_in_link: new_user_session_path) %></strong>
    <% end %>
</div>
<%= render partial: 'list', locals: {requests: @requests} %>