<% content_for :title, @request.title %>

<script type="text/javascript">
    store_owner_token(<%= @request.id %>, 'request');
</script>

<div class="page-header">
  <h1>
    <%=t 'requests.show.title', name: @request.owner_name %>
  </h1>
</div>

<div class="item">

  <%= badges_for @request %>
  <div class="title"><strong><%= @request.title %></strong></div>

  <div class="until">
    <table class="request-specifics">
      <tbody>
      <tr>
        <td class="gender">
          <%= gender_icon @request.gender %>
        </td>
        <td class="time">
          <%= from_date_info @request %>
        </td>
        <% if @request.to_date %>
          <td class="time">
            <%=t 'requests.show.to' %> <%=l @request.to_date %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= auto_link simple_format(@request.description) %>
  </div>

  <h2><i class="fa fa-comments-o"></i> <%= t 'answers.title' %></h2>
  <% if @request.answers.count > 0 %>
    <%= render @request.answers %>
  <% else %>
    <h4><%= t 'answers.none' %></h4>
  <% end %>

</div>

<hr />

<div class="form-actions">
  <% if @request.outdated? %>
    <%= link_to t('items.reactivate'), reactivate_path(@request.get_or_create_reactivator.token), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to t('helpers.links.edit'), edit_request_path(@request, token: params[:token]), class: 'btn btn-default' %>
  <% if @request.is_public? %>
    <%= link_to '<i class="fa fa-eye-slash"></i> '.html_safe + t('helpers.links.hide'), toggle_active_request_path(@request, token: params[:token]), method: :put, class: 'btn btn-default' %>
  <% else %>
    <%= link_to '<i class="fa fa-eye"></i> '.html_safe + t('helpers.links.make_public'), toggle_active_request_path(@request, token: params[:token]), method: :put, class: 'btn btn-default' %>
  <% end %>
  <%= link_to t('helpers.links.destroy'),
              request_path(@request, token: params[:token]),
              method: 'delete',
              data: { confirm: t('helpers.links.confirm') },
              class: 'btn btn-danger' %>
</div>
