<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Until:</b>
  <%= @request.until %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
