<div class="page-header">
  <h1>
    <% if @request.user == current_user %>
      <%=t '.title.mine' %>
    <% else %>
      <%=t '.title.other', name: @request.user.name %>
    <% end %>
    <% if current_user.try :admin? %>
      <% unless @request.user.unlocked? %>
        <%= link_to t('users.lock.unlock'), unlock_admin_user_path(@request.user), method: :put, class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </h1>
</div>

<div class="item">

  <%= badges_for @request %>
  <div class="title"><strong><%= @request.title %></strong></div>

  <div class="until">
    <table class="request-specifics">
      <tbody>
      <tr>
        <td class="gender">
          <%= gender_icon @request.gender %>
        </td>
        <td class="time">
          <%= from_date_info @request %>
        </td>
        <% if @request.to_date %>
          <td class="time">
            <%=t '.to' %> <%=l @request.to_date %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= simple_format @request.description %>
  </div>

  <% if current_user != @request.user %>
    <%= render 'answers/form', answer: @answer ||= @request.answers.build %>
  <% else %>
    <h2><i class="fa fa-comments-o"></i> <%= t 'answers.title' %></h2>
    <% if @request.answers.count > 0 %>
      <%= render @request.answers %>
    <% else %>
      <h4><%= t 'answers.none' %></h4>
    <% end %>
  <% end %>

</div>

<hr />

<div class="form-actions">
  <%= link_to t('helpers.links.back', default: 'Back'),
              requests_path, class: 'btn btn-default'  %>
  <% if current_user == @request.user %>
    <%= link_to t('helpers.links.edit', default: 'edit'),
                edit_request_path(@request), class: 'btn btn-default' %>
    <%= link_to t('helpers.links.destroy', default: 'Delete'),
                request_path(@request),
                method: 'delete',
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                class: 'btn btn-danger' %>
  <% end %>
</div>
