<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Until:</b>
  <%= @request.until %>
</p>

<%= render 'answers/form', object: @request %>

<% if @request.user == current_user %>
    <%= link_to 'Edit', edit_request_path(@request) %> |
    <%= link_to 'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', requests_path %>
