<% content_for :title, @request.title %>

<div class="page-header">
  <h1>
    <%=t '.title', name: @request.owner_name %>
    <% if current_user&.admin? %>
      <%= link_to @request.blocked? ? 'Freischalten' : 'Sperren', @request.blocked? ? unblock_admin_request_path(@request) : block_admin_request_path(@request), method: :put, class: 'btn btn-default' %>
    <% end %>
  </h1>
</div>

<div class="item">

  <div class="request-edit-link" data-id="<%= @request.id %>" data-type="request">
    <div class="inline-button toggle-collapse">
      <div class="short"><%= t 'items.show.edit' %>
        <i class="fa fa-pencil"></i>
      </div>
      <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
    </div>
  </div>

  <div class="request-edit-link-form">
    <div class="short transition"></div>
    <div class="long transition">
      <p><%= t('items.request_edit_link.info_general') %></p>
      <p><%= t('items.request_edit_link.info_send_again') %></p>
      <%= render 'requests/request_edit_link_form', item: @request %>
    </div>
  </div>

  <%= badges_for @request %>
  <div class="title"><strong><%= @request.title %></strong></div>

  <div class="until">
    <table class="request-specifics">
      <tbody>
      <tr>
        <td class="gender">
          <%= gender_icon @request.gender %>
        </td>
        <td class="time">
          <%= from_date_info @request %>
        </td>
        <% if @request.to_date %>
          <td class="time">
            <%=t '.to' %> <%=l @request.to_date %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= auto_link simple_format(@request.description) %>
  </div>

  <%= render 'answers/form', answer: @answer ||= @request.answers.build %>
</div>

<hr />

<div class="form-actions">
  <%= link_to t('helpers.links.back'), requests_path, class: 'btn btn-default'  %>
</div>
