<h1>Impressum</h1>

<h3>Kontakt</h3>
Das Kaheim-Team kannst du <%= mail_to 'team@kaheim.de', 'per Mail', encode: 'hex' %> erreichen.

<h3><%=t '.responsible' %></h3>

<p>
  Tim Zeitz
  <br />
  dev (<%=t 'helpers.dot' %>) tim (<%=t 'helpers.dot' %>) zeitz (at) gmail (<%=t 'helpers.dot' %>) com
  <br />
  <%= Rails.application.credentials[:contact][:street] %>
  <br />
  <%= Rails.application.credentials[:contact][:city] %>
</p>

<h3>Datenschutz</h3>

<p>
  Personenbezogene Angaben speichern wir nur, soweit das für den Zimmerbörsenbetrieb notwendig ist.
  Wenn du dich registrierst, speichern wir deinen Namen und deine E-Mail-Adresse.
  Dein Name wird öffentlich mit deinen Einträgen angezeigt. Deine E-Mail-Adresse ist nur für Administratoren sichtbar.
  Den Account kannst du jederzeit auf deiner Profilseite löschen, was auch zur Löschung deiner Einträge führt.
</p>

<p>
  Abonnierst du Benachrichtigungen für neue Angebote oder Gesuche, speichern wir deine E-Mail-Adresse solange, bis du das Abonnement wieder löschst.
</p>

<p>
  Antwortest du auf einen Eintrag, so wird deine Nachricht per E-Mail an den Ersteller des Eintrages verschickt.
  Dabei bekommt er auch deine E-Mail-Adresse, damit er dir antworten kann.
  Außerdem wird deine Antwort in unserer Datenbank gespeichert und ist dann für den Besitzer des zugehörigen Eintrages sichtbar.
  So behält dieser einen Überblick über die Antworten, die er schon bekommen hat.
  Wird ein Eintrag gelöscht, so werden alle gespeicherten Antworten darauf auch gelöscht.
</p>

<p>
  Von dir erstellte Einträge sind öffentlich sichtbar, sobald du deine E-Mail-Adresse bestätigt hast und von einem Moderator freigeschaltet worden bist.
  Du kannst deine Einträge jederzeit unsichtbar machen oder löschen.
  30 Tage nach der letzten Änderung wird ein Eintrag unsichtbar und muss dann von dir reaktiviert werden, um wieder für 30 Tage sichtbar zu sein.
  Dazu bekommst du eine E-Mail mit einem Link zugeschickt.
  Wird ein Eintrag nicht reaktiviert, so wird er nach 100 Tagen automatisch gelöscht.
</p>

<p>
  Auf unserem Server speichern wir außerdem Logdateien, in denen alle Anfragen an den Server aufgezeichnet werden,
  um im Fehlerfall nachvollziehen zu können, wie es dazu gekommen ist.
  Diese Dateien werden nach drei Monaten automatisiert gelöscht.
  In ihnen enthaltene personenbezogene Daten verwenden wir nicht für andere Zwecke und geben sie nicht weiter.
</p>
