<div class="page-header">
  <h1>Tipps zum Weitersuchen</h1>
</div>
<p>
  Da in Karlsruhe das Wohnungsangebot zum Semesteranfang knapp ist oder du vielleicht gar nicht unbedingt in eine WG willst,
  hier noch ein paar Alternativen zum Weitersuchen:
</p>
<p>
  Es gibt einige Wohnheime in Karlsruhe. Zum einen Wohnheime kirchlicher Träger
  (<%= link_to 'HEK', 'https://www.hek.uni-karlsruhe.de/' %>,
  <%= link_to 'ABH/RSH', 'https://www.abh.uni-karlsruhe.de/site/' %>,
  <%= link_to 'Evangelisches Studentinnenwohnheim', 'http://www.ev-studentinnenwohnheim.de/' %>),
  zum anderen auch das <%= link_to 'HaDiKo', 'http://www.hadiko.de/'%> und einige Wohnheime des <%= link_to 'Studierendenwerks', 'https://www.sw-ka.de/de/wohnen/' %>.
</p>
<p>
  Vielleicht hast du auch Interesse an einer 'Wohnpartnerschaft'. Dann lohnt sich ein Besuch der
  <%= link_to 'PARITÄTischen Wohnpartnerbörse', 'http://www.paritaet-ka.de/dienste/wohnpartnerboerse.html' %>.
</p>
