<h1></h1>
<p>
  Alternativ zu den WG-Angeboten, die es hier gibt, wollen wir auch auf andere Möglichkeiten hinweisen.
  Vielleicht ist ja auch da etwas für Dich dabei.
  </p>
<p>
  Es gibt einige Wohnheime in Karlsruhe. Zum einen Wohnheime kirchlicher Träger
  (<%= link_to 'HEK', 'https://www.hek.uni-karlsruhe.de/' %>,
  <%= link_to 'ABH/RSH', 'https://www.abh.uni-karlsruhe.de/site/' %>,
  <%= link_to 'Evangelisches Studentinnenwohnheim', 'http://www.ev-studentinnenwohnheim.de/' %>),
  sowie auch das <%= link_to 'HaDiKo', 'http://www.hadiko.de/'%> und einige Wohnheime des <%= link_to 'Studierendenwerks', 'https://www.sw-ka.de/de/wohnen/' %>.
</p>
<p>
  Vielleicht hast Du auch Interesse an einer 'Wohnpartnerschaft'. Dann lohnt sich ein Besuch der
  <%= link_to 'PARITÄTischen Wohnpartnerbörse', 'http://www.paritaet-ka.de/frames/dienste-weitere-/wohnen.htm' %>.

</p>