<h1><%=t 'helpers.contact' %></h1>

<h3><%=t '.responsible' %></h3>

<p>
  Tim Zeitz
  <br />
  dev (punkt) tim (punkt) zeitz (at) gmail (punkt) com
</p>

<h3><%=t '.project' %></h3>
<p>
  <%=t '.source' %> <%= link_to 'GitHub', 'https://github.com/SDEagle/kaheim' %>.
  <br />
  <%=t '.issues1' %> <%= link_to 'GitHub', 'https://github.com/SDEagle/kaheim/issues?state=open' %> <%=t '.issues2' %>.
</p>
