<%= custom_bootstrap_form_for(Subscription.new, as: :subscription, url: subscription_create_path, layout: :inline) do |f| %>
  <%= t 'subscriptions.subscribe' %>
  <%= f.hidden_field item_type, value: true %>
  <%= f.submit t('subscriptions.subscribe'), class: 'btn btn-primary pull-right',  id: 'subscription-submit-button', style: 'display: none' %>
  <span class="btn btn-default pull-right subscription-toggle" id="subscription-back-button"><%= t('helpers.links.back') %></span>
  <%= f.email_field :email,
                    id: 'subscription-email',
                    placeholder: t('helpers.mail'),
                    hide_label: true %>
<% end %>
