<%= custom_bootstrap_form_for(Subscription.new, as: :subscription, url: subscriptions_create_path, layout: :inline) do |f| %>
  <%= f.hidden_field item_type, value: true %>
  <%= f.submit t('subscriptions.actions.subscribe'), class: 'btn btn-primary',  id: 'subscription-submit-button', style: 'display: none' %>
  <%= f.email_field :email,
                    id: 'subscription-email',
                    placeholder: t('subscriptions.mail'),
                    class: 'top-align',
                    hide_label: true %>
  <span class="btn btn-default subscription-toggle-button" id="subscription-back-button"><%= t('helpers.links.back') %></span>
<% end %>
