<%= custom_bootstrap_form_for(Subscription.new, as: :subscription, url: subscriptions_create_path, layout: :inline, html: {id: "new_subscription_#{item_type}"}) do |f| %>
  <%= f.hidden_field item_type, value: true %>
  <div class="hidden">
    <%= f.form_group :no_spam do %>
      <%= f.check_box :no_spam, class: "subscription-no-spam #{item_type}" %>
    <% end %>
  </div>
  <%= f.email_field :email,
                    id: "subscription-email-#{item_type}",
                    placeholder: t('subscriptions.mail'),
                    hide_label: true,
                    class: "subscription-email #{item_type}",
                    data: { :"item-type" => item_type } %>
  <%= f.submit t('subscriptions.actions.subscribe'), class: "btn btn-primary #{item_type} subscription-submit-button", style: 'display: none' %>
  <span class="btn btn-default subscription-toggle-button <%= item_type %>" data-item-type="<%= item_type %>"><%= t('helpers.links.back') %></span>
<% end %>
