<%= form_for @offer, html: {class: 'form-inline'} do |f| %>
    <div class="edit">

      <div class="input-group input-group-lg title">
        <span class="input-group-addon"><%= t('activerecord.attributes.offer.title') %></span>
        <%= f.text_field :title, :class => 'form-control', hide_label: true %>
      </div>

      <div class="info">
        <div class='form-control gender'>
          <%= f.radio_button :gender, 'dontcare', checked: true %><span class="gender-label"><i class='fa fa-male'></i>/<i class='fa fa-female'></i></span>
          <%= f.radio_button :gender, 'female' %><span class="gender-label"><i class='fa fa-male'></i></span>
          <%= f.radio_button :gender, 'male' %><span class="gender-label"><i class='fa fa-female'></i></span>
        </div>
        <div class="input-group rent">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          <%= f.text_field :rent, :class => 'form-control', hide_label: true, placeholder: t('activerecord.attributes.offer.rent') %>
        </div>
        <div class="input-group size">
          <span class="input-group-addon">m²</span>
          <%= f.text_field :size, :class => 'form-control', hide_label: true, placeholder: t('activerecord.attributes.offer.size') %>
        </div>
      </div>

      <div class="date">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><%= t('activerecord.attributes.offer.from_date') %></span>
          <%= f.text_field :from_date, hide_label: true, :class => 'form-control', 'data-behaviour' => 'datepicker' %>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><%= t('activerecord.attributes.offer.to_date') %></span>
          <%= f.text_field :to_date, hide_label: true, class: 'form-control', 'data-behaviour' => 'datepicker' %>
        </div>
      </div>

      <div class="location">
        <%= f.text_field :street, :class => 'form-control', hide_label: true, placeholder: t('activerecord.attributes.offer.street') %>
        <%= f.text_field :zip_code, :class => 'form-control', hide_label: true, placeholder: t('activerecord.attributes.offer.zip_code') %>
        <%= f.text_field :district, :class => 'form-control', hide_label: true, placeholder: t('activerecord.attributes.offer.district') %>
      </div>

      <% if @offer.description %>
        <%= f.text_area :description, :class => 'form-control description', hide_label: true, placeholder: @offer.description %>
      <% else %>
        <%= f.text_area :description, :class => 'form-control description', hide_label: true, placeholder: t('activerecord.attributes.offer.description') %>
      <% end %>

    </div>

    <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel', :default => 'Cancel'),
                offers_path, :class => 'btn' %>
    </div>
<% end %>