<%= bootstrap_form_for @offer, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.date_select :until, :class => 'date_select' %>
  <%= f.text_field :title, :class => 'text_field' %>
  <%= f.text_area :description, :class => 'text_area' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  offers_path, :class => 'btn' %>
  </div>
<% end %>
