<%= custom_bootstrap_form_for @offer do |f| %>
    <div class="edit container-fluid">

      <div class="row">
        <%= f.text_area :title,
                        input_group_wrapper_class: 'input-group-lg col-md-12',
                        wrapper_class: 'title',
                        class: 'short-description',
                        append: (@offer.title ? 140 - @offer.title.length : 140).to_s,
                        placeholder: t('helpers.offer.help.title'),
                        hide_label: true %>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-8">
          <%= f.text_area :description, wrapper_class: 'description', hide_label: true, placeholder: t('helpers.offer.help.description') %>
        </div>

        <div class="col-md-4">
          <div class="info">
            <div class="btn-group input-group input-group-sm gender">
              <span class="input-group-addon"><%= t('helpers.offer.help.gender-selection') %></span>
              <button id="gender-select-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <% case @offer.gender %>
                <% when 'female' %>
                  <i class="fa fa-female"></i>
                <% when 'male' %>
                  <i class="fa fa-male"></i>
                <% else %>
                  <span class="dontcare"><i class="fa fa-female"></i>/<i class="fa fa-male"></i></span>
                <% end %>
                <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-auto" role="menu">
                <li class="gender-select-item" data-gender='female'><a href="javascript:void(0);"><span class="gender-label"><i class='fa fa-female'></i></span></a></li>
                <li class="gender-select-item" data-gender='male'><a href="javascript:void(0);"><span class="gender-label"><i class='fa fa-male'></i></span></a></li>
                <li class="gender-select-item" data-gender='dontcare'><a href="javascript:void(0);" class="dontcare"><span class="gender-label" class="dontcare"><i class='fa fa-male'></i>/<i class='fa fa-female'></i></span></a></li>
              </ul>
              <%= f.hidden_field :gender, value: 'dontcare' %>
            </div>

            <%= f.text_field :rent,
                             placeholder: t('activerecord.attributes.offer.rent'),
                             wrapper_class: 'rent',
                             input_group_wrapper_class: 'input-group-sm',
                             prepend: '<i class="fa fa-eur"></i>'.html_safe,
                             hide_label: true %>
            <%= f.text_field :size,
                             placeholder: t('activerecord.attributes.offer.size'),
                             wrapper_class: 'size',
                             input_group_wrapper_class: 'input-group-sm',
                             prepend: 'm²',
                             hide_label: true %>
          </div>

          <div class="date">
            <%= f.localized_text_field :from_date,
                                       'data-behaviour' => 'datepicker',
                                       input_group_wrapper_class: 'input-group-sm',
                                       prepend: t('activerecord.attributes.offer.from_date'),
                                       hide_label: true %>
            <%= f.localized_text_field :to_date,
                                       'data-behaviour' => 'datepicker',
                                       input_group_wrapper_class: 'input-group-sm',
                                       prepend: t('activerecord.attributes.offer.to_date'),
                                       placeholder: t('helpers.request.help.temporal'),
                                       hide_label: true %>
          </div>

          <div class="location">
            <%= f.text_field :street,
                             hide_label: true,
                             placeholder: t('activerecord.attributes.offer.street'),
                             class: 'input-sm' %>
            <%= f.text_field :zip_code,
                             hide_label: true,
                             placeholder: t('activerecord.attributes.offer.zip_code'),
                             class: 'input-sm' %>
            <%= f.select :district,
                         [[t('activerecord.attributes.offer.district'), 'Karlsruhe'],
                          'Beiertheim-Bulach',
                          'Daxlanden',
                          'Innestadt',
                          'Durlach',
                          'Grötzingen',
                          'Grünwettersbach',
                          'Grünwinkel',
                          'Hagsfeld',
                          'Hohenwettersbach',
                          'Knielingen',
                          'Mühlburg',
                          'Neureut',
                          'Nordstadt',
                          'Nordweststadt',
                          'Oberreut',
                          'Oststadt',
                          'Palmbach',
                          'Rintheim',
                          'Rüppurr',
                          'Stupferich',
                          'Südstadt',
                          'Südweststadt',
                          'Waldstadt',
                          'Weiherfeld-Dammerstock',
                          'Weststadt',
                          'Wolfartsweier'],
                         hide_label: true,
                         class: 'input-sm' %>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-12">
          <div class="form-actions">
            <%= f.submit nil, class: 'btn btn-primary' %>
            <%= link_to t('helpers.links.cancel', default: 'Cancel'), offers_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>

    </div>

<% end %>