<%= bootstrap_form_for @offer do |f| %>
    <div class="offer">
      <div class="titel">
        <%= f.text_field :title, :class => 'text_field', layout: :inline, placeholder: t('activerecord.attributes.offer.title'), help: t('activerecord.attributes.offer.help.title') %>
      </div>
      <div class="until">
        <%= f.date_select :until, :class => 'date_select', layout: :inline %>
      </div>
      <div class="description">
        <% if @offer.description %>
            <%= f.text_area :description, :class => 'text_area', hide_label: true, placeholder: @offer.description %>
        <% else %>
            <%= f.text_area :description, :class => 'text_area', hide_label: true, placeholder: t('activerecord.attributes.offer.description') %>
        <% end %>
      </div>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('helpers.links.cancel', :default => 'Cancel'),
                    offers_path, :class => 'btn' %>
      </div>
    </div>
<% end %>