<% offers.each do |offer| %>
    <fieldset class="item">
      <%= badges_for offer %>

      <div class="title">
        <strong><%= link_to offer.title, offer %></strong>
      </div>

      <div class="offer-specifics">
        <span class="icon">
          <% case offer.gender %>
          <% when 'dontcare' %>
            <i class="fa fa-female"></i>/<i class="fa fa-male"></i>
          <% when 'female' %>
            <i class="fa fa-female"></i>
          <% when 'male' %>
            <i class="fa fa-male"></i>
          <% end %>
        </span>
        <span class="icon">
          <i class="fa fa-eur"></i>
        </span>
        <%= offer.rent %>
        <span class="icon">
          <i class="fa fa-square-o"></i>
        </span>
        <%= offer.size %>m²
        <span class="icon">
          <i class="fa fa-long-arrow-right"></i>
        </span>
        <%=t 'offers.show.from' %> <%= (l offer.from_date) %>
        <% if offer.to_date %>
          <%=t 'offers.show.to' %> <%= (l offer.to_date) %>
        <% end %>

        <br />

        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        <%= offer.district_or_karlsruhe + ", " + offer.street %>
      </div>

      <div class="description">
        <div class="short"></div>
        <div class="long"><%= simple_format offer.description %></div>
      </div>

      <div class="contact">
        <div class="inline-button toggle-collapse">
          <div class="short"><%= t 'helpers.more' %>&#x25BC;</div>
          <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
        </div>

        <div class="inline-button answer">
          <%= link_to offer do %>
            <%= t("helpers.#{current_user == offer.user ? 'show' : 'answer'}") %>
          <% end %>
        </div>
        <span>&nbsp;|&nbsp;<%= t("offers.show.user", name: offer.user.name) %></span>
      </div>
    </fieldset>
<% end %>