<%- model_class = Offer -%>
<div class="page-header">
  <% if offers.count > 0 %>
      <h1><%=t '.title', :default => model_class.model_name.human(count: 2) %></h1>
  <% else %>
      <h1><%=t 'helpers.none_found', :subjects => model_class.model_name.human(count: 0) %></h1>
  <% end %>
  <% if user_signed_in? %>
      <%= link_to t('helpers.new_offer', :default => 'New'),
                  new_offer_path %>
  <% else %>
      <strong><%= t 'helpers.sign_in_for_offer' %></strong>
  <% end %>
</div>

<%= render partial: 'shared/item', collection: offers, as: :item %>
