<%- model_class = Offer -%>
<div class="page-header">
  <% if offers.count > 0 %>
      <h1><%=t '.title', default: model_class.model_name.human(count: 2) %></h1>
  <% else %>
      <h1><%=t 'helpers.none_found', subjects: model_class.model_name.human(count: 0) %></h1>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to t('offers.new.title'), new_offer_path, class: 'btn btn-primary' %>
  <% else %>
    <strong><%= t 'helpers.sign_in_for_offer' %></strong>
  <% end %>
</div>

<% offers.each do |offer| %>
    <fieldset class="item">
      <% if current_user == offer.user %>
        <legend class="label label-info"><%= t "helpers.mine"  %></legend>
      <% else %>
        <legend class="label label-info"><%= offer.user.name  %></legend>
      <% end %>

      <div class="titel">
        <strong><%= offer.title %></strong>
      </div>

      <table class="offer-specifics">
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-female"></i>/<i class="fa fa-male"></i>
          </td>
          <td class="info">
            <%= t "helpers.gender.#{offer.gender}" %>
          </td>
          <td class="icon">
            <i class="fa fa-eur"></i>
          </td>
          <td class="info" colspan="2">
            <%= offer.rent %>
          </td>
        </tr>
        <tr>
          <td class="icon">
            <i class="fa fa-square-o"></i>
          </td>
          <td class="info">
            <%= offer.size %>m²
          </td>
          <td class="icon">
            <i class="fa fa-long-arrow-right"></i>
          </td>
          <td class="info">
            <%=t 'offers.show.from' %> <%= (l offer.from_date) %>
          </td>
          <td class="info">
            <% if offer.to_date %>
                <%=t 'offers.show.to' %> <%= (l offer.to_date) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="info address" colspan="5"><%= offer.district + ", " + offer.street %></td>
        </tr>
        </tbody>
      </table>

      <div class="description">
        <div class="short"></div>
        <div class="long"><%= simple_format offer.description %></div>
      </div>

      <div class="contact">
        <div class="inline-button toggle-collapse">
          <div class="short"><%= t 'helpers.more' %>&#x25BC;</div>
          <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
        </div>

        <div class="inline-button answer">
          <%= link_to offer do %>
            <%= t("helpers.#{current_user == offer.user ? 'show' : 'answer'}") %>
          <% end %>
        </div>
      </div>
    </fieldset>
<% end %>