<div class="page-header">
  <h1>
    <%=t 'offers.list.title', count: @offers.count %>
    <div class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%=t 'helpers.sort' %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" data-no-turbolink>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-from-date" data-sort-order="asc"><%=t 'helpers.sort_by_from_date' %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-rent" data-sort-order="asc"><%=t 'helpers.sort_by_rent' %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-size" data-sort-order="asc"><%=t 'helpers.sort_by_size' %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-updated-at" data-sort-order="desc"><%=t 'helpers.sort_by_updated_at' %></a></li>
      </ul>
    </div>
    <%= link_to t('offers.new.title'), new_offer_path, class: 'btn btn-primary pull-right' %>
  </h1>
</div>
<div class="sort">
  <%= render partial: 'list', locals: { offers: @offers } %>
</div>
