<%- model_class = Offer -%>
<% if @offers.count > 0 %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(count: @offers.count) %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:until) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @offers.each do |offer| %>
      <tr data-link="<%= offer_path offer %>">
        <td><%= offer.title %></td>
        <td><%= offer.description %></td>
        <td><%= l offer.until %></td>
        <td>
          <% if current_user == offer.user %>
              <span class="label label-info"><%= t "helpers.mine"  %></span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<div class="page-header">
  <h1><%=t 'helpers.none_found', :subjects => model_class.model_name.human(count: 0) %></h1>
</div>
<% end %>

<%= link_to t('helpers.new_offer', :default => t("helpers.links.new")),
            new_offer_path,
            :class => 'btn btn-primary' %>
