<div class="page-header">
  <h1 class="subscription-form-toggle" style="display: none;">
    <!-- form for subscribing. see button below for how to access it -->
    <%= render partial: 'subscription/form', locals: { item_type: :offers } %>
  </h1>
  <h1 class="subscription-form-toggle">
    <!-- button to subscribe. switches headline to subscribe form if user is not logged in -->
    <%= render partial: 'subscription/button', locals: { item_type: :offers } %>

    <%=t 'offers.list.title', count: @offers.count %>
    <div class="dropdown pull-right">
      <%= render 'shared/sort_menu' %>
    </div>

    <% if user_signed_in? %>
      <%= link_to t('offers.new.title'), new_offer_path, class: 'btn btn-default pull-right' %>
    <% end %>
  </h1>

  <% unless user_signed_in? %>
    <strong><%= It.it('helpers.sign_in_for_offer', sign_up_link: new_user_registration_path, sign_in_link: new_user_session_path) %></strong>
  <% end %>
</div>
<div class="sort">
  <%= render partial: 'list', locals: { offers: @offers } %>
</div>
