<%- model_class = Offer -%>
<div class="page-header">
  <% if @offers.count > 0 %>
    <h1><%=t '.title', :default => model_class.model_name.human(count: @offers.count) %></h1>
  <% else %>
    <h1><%=t 'helpers.none_found', :subjects => model_class.model_name.human(count: 0) %></h1>
  <% end %>
  <%= link_to t('helpers.archive'), offers_path(archive: true) unless params[:archive] %>
</div>

<% if @offers.count > 0 %>
    <% @offers.each do |offer| %>
        <div class="offer" data-link="<%= offer_path offer %>">

          <div class="titel"><strong><%= offer.title %></strong></div>

          <div class="until"><strong><%= model_class.human_attribute_name(:until) + " " + (l offer.until) %></strong></div>

          <div class="description">
            <%= simple_format offer.description %>
          </div>
          <div class="contact">
            <% if current_user == offer.user %>
                <strong><span class="label label-info"><%= t "helpers.mine"  %></span></strong>
            <% else %>
                <strong><%= t 'helpers.author' %>: <%= offer.user.name %></strong>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>

<%= link_to t('helpers.new_offer', :default => t("helpers.links.new")),
            new_offer_path,
            :class => 'btn btn-primary' %>
