<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Until:</b>
  <%= @offer.until %>
</p>

<%= render 'answers/form', object: @offer %>

<% if @offer.user == current_user %>
    <%= link_to 'Edit', edit_offer_path(@offer) %> |
    <%= link_to 'Destroy', @offer, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', offers_path %>
