<%- model_class = Offer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="offer">

  <div class="titel"><strong><%= @offer.title %></strong></div>

  <div class="until">
    <table class="offer-specifics">
      <tbody>
      <tr>
        <td class="icon">
          <i class="fa fa-female"></i>/<i class="fa fa-male"></i>
        </td>
        <td class="info">
          egal
        </td>
        <td class="icon">
          <i class="fa fa-eur"></i>
        </td>
        <td class="info">
          250
        </td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-square-o"></i>
        </td>
        <td class="info">
          20m²
        </td>
        <td class="icon">
          <i class="fa fa-long-arrow-right"></i>
        </td>
        <td class="info">
          frei ab <%# (l @offer.until) %>
        </td>
      </tr>
      <tr>
        <td class="info address" colspan="4">Innenstadt, Wienerstraße</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= simple_format @offer.description %>
  </div>
  <div class="contact">
    <% if current_user == @offer.user %>
        <strong><span class="label label-danger"><%= t "helpers.mine"  %></span></strong>
    <% else %>
        <strong><span class="label label-info"><%= @offer.user.name  %></span></strong>
    <% end %>
  </div>
</div>

<hr />

<% if current_user != @offer.user %>
  <%= render 'answers/form', object: @offer %>
<% end %>

<div class="form-actions">
  <%= link_to t('helpers.links.back', :default => 'Back'),
              offers_path, :class => 'btn' %>
  <% if current_user == @offer.user %>
    <%= link_to t('helpers.links.edit', :default => 'Edit'),
                edit_offer_path(@offer), :class => 'btn' %>
    <%= link_to t('helpers.links.destroy', :default => 'Delete'),
                offer_path(@offer),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
