<div class="page-header">
  <h1>
    <% if @offer.user == current_user %>
      <%=t '.title.mine' %>
    <% else %>
      <%=t '.title.other', name: @offer.user.name %>
    <% end %>
    <% if current_user.try :admin? %>
      <% unless @offer.user.unlocked? %>
        <%= link_to t('users.lock.unlock'), unlock_admin_user_path(@offer.user), method: :put, class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </h1>
</div>

<div class="item">

  <%= badges_for @offer %>
  <div class="title"><strong><%= @offer.title %></strong></div>

  <div class="until">
    <table class="offer-specifics">
      <tbody>
      <tr>
        <td class="icon">
        </td>
        <td class="info">
          <%= gender_icon @offer.gender %>
        </td>
        <td class="icon">
          <i class="fa fa-eur"></i>
        </td>
        <td class="info">
          <%= @offer.rent %>
        </td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-square-o"></i>
        </td>
        <td class="info">
          <%= @offer.size %>m²
        </td>
        <td class="icon">
          <i class="fa fa-long-arrow-right"></i>
        </td>
        <td class="info">
          <%= date_info @offer %>
        </td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-home"></i>
        </td>
        <td class="info" colspan="4">
          <%= address_info @offer %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= simple_format @offer.description %>
  </div>

  <% if current_user != @offer.user %>
    <%= render 'answers/form', answer: @answer ||= @offer.answers.build %>
  <% else %>
    <h2><i class="fa fa-comments-o"></i> <%= t 'answers.title' %></h2>
    <% if @offer.answers.count > 0 %>
      <%= render @offer.answers %>
    <% else %>
      <h4><%= t 'answers.none' %></h4>
    <% end %>
  <% end %>
</div>

<hr />

<div class="form-actions">
  <%= link_to t('helpers.links.back'), offers_path, class: 'btn btn-default' %>
  <% if current_user == @offer.user %>
    <%= link_to t('helpers.links.edit'), edit_offer_path(@offer), class: 'btn btn-default' %>
    <%= link_to t('helpers.links.destroy'),
                offer_path(@offer),
                method: 'delete',
                data: { confirm: t('helpers.links.confirm') },
                class: 'btn btn-danger' %>
  <% end %>
</div>
