<% content_for :title, @offer.title %>

<div class="page-header">
  <h1>
    <%=t '.title.other', name: @offer.owner_name %>
    <% if current_user&.admin? %>
      <%= link_to @offer.blocked? ? 'Freischalten' : 'Sperren', @offer.blocked? ? unblock_admin_offer_path(@offer) : block_admin_offer_path(@offer), method: :put, class: 'btn btn-default' %>
    <% end %>
  </h1>
</div>

<div class="item">

  <div class="request-edit-link">
    <div class="inline-button toggle-collapse">
      <div class="short"><%= t 'offers.show.edit' %>
        <i class="fa fa-pencil"></i>
      </div>
      <div class="long"><%= t 'helpers.less' %>&#x25B2;</div>
    </div>
  </div>

  <div class="request-edit-link-form">
    <div class="short transition"></div>
    <div class="long transition">
      <p><%= t('items.request_edit_link.info_general') %></p>
      <p><%= t('items.request_edit_link.info_send_again') %></p>
      <%= render 'offers/request_edit_link_form', item: @offer %>
    </div>
  </div>

  <%= badges_for @offer %>
  <div class="title"><strong><%= @offer.title %></strong></div>

  <div class="until">
    <table class="offer-specifics">
      <tbody>
      <tr>
        <td class="icon">
        </td>
        <td class="info">
          <%= gender_icon @offer.gender %>
        </td>
        <td class="icon">
          <i class="fa fa-eur"></i>
        </td>
        <td class="info">
          <%= @offer.rent %>
        </td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-square-o"></i>
        </td>
        <td class="info">
          <%= @offer.size %>m²
        </td>
        <td class="icon">
          <i class="fa fa-long-arrow-right"></i>
        </td>
        <td class="info">
          <%= date_info @offer %>
        </td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-home"></i>
        </td>
        <td class="info" colspan="4">
          <%= address_info @offer %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <%= auto_link simple_format(@offer.description) %>
  </div>

  <%= render 'answers/form', answer: @answer ||= @offer.answers.build %>
</div>

<hr />

<div class="form-actions">
  <%= link_to t('helpers.links.back'), offers_path, class: 'btn btn-default' %>
</div>
