<!DOCTYPE html>
<html>
<head>
  <title>JeKaWg</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="upper_bar">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>.
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<div class="header">
  <div class="center">

    <div class="left_button">
      <%= link_to "offers", offers_path %>
      <br />
      <%= link_to "new offer", new_offer_path %>
    </div>

    <div class="right_button">
      <%= link_to "requests", requests_path %>
      <br />
      <%= link_to "new request", new_request_path %>
    </div>

  </div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="content">
  <div class="center">
    <%= yield %>
  </div>
</div>

</body>
</html>
